body {
  display: flex;
  height: 100vh;
  background-color: rgb(247, 243, 243);
  font-family: "Cormorant Infant", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

header {
  background-image: url("plant.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40%;
  opacity: 80%;
}

.form-intro {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h3 {
  font-size: xx-large;
}
h4 {
  font-size: x-large;
}
h5 {
  font-size: large;
}

ul {
  list-style-type: none;
}
li {
  padding-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.form {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 20px;
}

.form-intro,
.fieldset,
.button-container {
  padding-left: 50px;
}

.fieldset {
  padding-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border: none;
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: small;
  font-weight: bold;
  padding-bottom: 30px;
}

legend {
  position: absolute;
  top: 10px;
  font-weight: bolder;
  font-size: large;
}

.fieldset-container {
  display: flex;
  background-color: white;
  gap: 50px;
}

.fieldset-container p {
  display: flex;
  flex-direction: column;
}

input {
  width: 200px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid rgb(197, 196, 196);
}

button {
  padding: 8px 30px;
  border-radius: 8px;
  border: none;
  background-color: #b4825c;
  margin-bottom: 20px;
  color: white;
  font-weight:bold;
  font-size: small;
}
